//
//  Secrets.xcconfig
//  Chukkoomi
//
//  Created by 김영훈 on 11/23/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
KAKAO_NATIVE_APP_KEY = 68dd5b4db1b99a1142adaa44c95acabb
